<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>AI Creative Platform</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/app/static/assets/css/main.css"/>
    <link rel="icon" href="/app/static/favicon.ico" type="image/x-icon">
</head>
<body class="is-preload">

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <!---------------Задание 4-------------------->
        <!-----------------Начало--------------------->
	<div class="сontainer">
        <header>
            <h2 class="alt">Креативная AI платформа<br/>
                Лучшие решения в одном месте</h2>
            <p>Работа над проектами, генерация идей,<br/>
                фиксирование бизнес-кейсов, рефакторинг кода.</p>
        </header>

        <footer>
            <a href="#functions" class="button scrolly">Начать</a>
        </footer>
	</div>
        <!-----------------Конец---------------------->
    </section>

    <!-- Functions -->
    <section id="functions" class="two">
        <div class="container">

            <!---------------Задание 1-------------------->
            <!-----------------Начало--------------------->
            <h2>Функционал:</h2>
            <!-----------------Конец---------------------->


            <!---------------Задание 2-------------------->
            <!-----------------Начало--------------------->
				<p>Данный сервис позволяет вести работу над проектами, генерировать различные идеи,
фиксировать и разбирать бизнес-кейсы, а также производить рефакторинг кода,
взаимодействуя с искусственным интеллектом.</p>
            <!-----------------Конец---------------------->


            <br/>
            <!---------------Задание 5-------------------->
            <!-----------------Начало--------------------->
			<img src="/app/static/images/pic06.jpg">
            <!-----------------Конец---------------------->
            <br/>


            <p>Откройте вкладку
                <!---------------Задание 3-------------------->
                <!-----------------Начало--------------------->
                <a href="projects.html">«Проекты»</a>
                <!-----------------Конец---------------------->
                чтобы приступить к работе.</p>

        </div>
    </section>

    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><img src="/app/static/test.png" alt=""/></span>
                <h1 id="title">AI<br>CREATIVE<br>PLATFROM</h1>
                <p>Лучшие решения в одном месте</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/" id="top-link"><span class="icon solid fa-home">Главная</span></a></li>
                    <li><a href="#top" id="portfolio-link"><span class="icon solid fa-th">Проекты</span></a>
                    </li>
                    <li><a href="/#about" id="about-link"><span class="icon solid fa-user">О платформе</span></a>
                    </li>
                    <li><a href="/#contact" id="contact-link"><span class="icon solid fa-envelope">Контакты</span></a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="bottom">

            <!-- Social Icons -->
            <ul class="icons">
                <li><a href="https://t.me/ylab_v_it" class="icon brands fa-telegram"><span class="label">Telegram</span></a>
                </li>
                <li><a href="https://vk.com/public221855135" class="icon brands fa-vk"><span class="label">VK</span></a>
                </li>
                <li><a href="mailto:info@aicreativeplatform.com" class="icon solid fa-envelope"><span
                        class="label">Email</span></a></li>
            </ul>

        </div>

    </div>

    <!-- About Platform -->
    <section id="about" class="three">
        <div class="container">

            <header>
                <h2>О платформе</h2>
            </header>

            <a href="#" class="image featured"><img src="/app/static/images/pic08.jpg" alt=""/></a>

            <p>AI CREATIVE PLATFORM — это место, где бизнес, творчество и технологии становятся единым целым.
                Мы предлагаем уникальную многофункциональную платформу, которая интегрирует передовые технологии
                искусственного интеллекта с ведением бизнеса, проектной деятельностью, а также созданием различного
                контента и ПО.</p>

        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="four">
        <div class="container">

            <header>
                <h2>Контакты</h2>
            </header>

            <p>
                Адрес: 12к1 Творческая Улица, Город Инноваций, 56789<br/>
                Телефон: +7 (XXX) 999-9999<br/>
                Электронная почта: info@aicreativeplatform.com<br/>
                Контактное лицо: Анна Иванова, директор по развитию
            </p>

        </div>
    </section>

</div>

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; AI CREATIVE PLATFORM 2023. All rights reserved.</li>
        <li>Данный сервис является вымышленным</li>
    </ul>

</div>

<!-- Scripts -->
<script src="/app/static/assets/js/jquery.min.js"></script>
<script src="/app/static/assets/js/jquery.scrolly.min.js"></script>
<script src="/app/static/assets/js/jquery.scrollex.min.js"></script>
<script src="/app/static/assets/js/browser.min.js"></script>
<script src="/app/static/assets/js/breakpoints.min.js"></script>
<script src="/app/static/assets/js/util.js"></script>
<script src="/app/static/assets/js/main.js"></script>
<script src="/app/static/assets/js/modal.js"></script>


</body>
</html>